# dependencies
node_modules/
.pnpm-store/

# build outputs
.next/
out/
dist/
build/
.turbo/

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# editor
.vscode/
.idea/
*.swp
.DS_Store

# typescript
*.tsbuildinfo
next-env.d.ts

# vercel
.vercel

# testing
coverage/
playwright-report/
test-results/

.vercel
